{{!< default}}

<div class="error-page">
  <div class="error-glyph" style="--logo-glyph: url('{{asset "images/flame.svg"}}')" aria-hidden="true"></div>
  <h1 class="error-code">{{statusCode}}</h1>
  <p class="error-message">{{message}}</p>
  <a href="{{@site.url}}" class="error-link">Back to home &rarr;</a>
</div>
