---
import type { GhostPost } from '~/lib/ghost.types';

interface Props {
  post: GhostPost;
}

const { post } = Astro.props;
const url = `/writing/${post.slug}/`;
const teaser = post.custom_excerpt ?? post.excerpt;
---

<a href={url} class="sidebar-post-link">
  <span class="sidebar-post-title">{post.title}</span>
  {teaser && <span class="sidebar-post-teaser">{teaser}</span>}
</a>
